
/* orange: #f8c68d */
/* red: #ca555f */
/* red-orange: #fc8236 */

.header {
    float: left;
    width: 25%;
    padding: 1em;
    color: #000000;
}

.channels {
    float: left;
    width: 65%;
    padding: 1em;
    color: #000000;
}

.edfinfo:after {
    content: "";
    display: table;
    clear: both;
}

#headerTab, #channelsTab {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 70%;
}

#headerTab td, #headerTab th, #channelsTab td, #channelsTab th {
    border: 1px solid #ddd;
    padding: 4px;
}

#headerTab tr:nth-child(even){background-color: #f2f2f2;}
#channelsTab tr:nth-child(even){background-color: #f2f2f2;}

#headerTab tr:hover {background-color: #2bf5e6;}
#channelsTab tr:hover {background-color: #2bf5e6;}

#headerTab th, #channelsTab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fc8236;
    color: white;
}
