
.time-slider {
	width: 95%;
	margin: auto;
	border: none;
}

.time-slider {
	width: 95%;
	opacity: 0.0;
	transition: opacity 0.5s;
	padding: 12px;
	border: none;
}

.time-slider:hover {
	opacity: 1.0;
}

.time-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #fc8236;
	cursor: pointer;
}

.time-slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #fc8236;
	cursor: pointer;
}
.time-slider::-webkit-slider-thumb:hover {
	background: #2bf5e6;
}

.time-slider::-moz-range-thumb:hover {
	background: #2bf5e6;
}
